table{
    background-color: white;
}

table td{
	height: 200px;
	width: 300px;
    padding: 10px;
}

td img{
	width: 100%;
	height: 100%;
}

td img:hover{
    height: 100%;
    width: 100%;
}